In [4]:
# Load data using correct tab delimiter
raw_data = pd.read_csv('data/raw_data.csv', sep='\t')
incremental_data = pd.read_csv('data/incremental_data.csv', sep='\t')

# Preview data
print("Raw Data Head:")
print(raw_data.head())
print("\nRaw Data Info:")
print(raw_data.info())

print("\nIncremental Data Head:")
print(incremental_data.head())
print("\nIncremental Data Info:")
print(incremental_data.info())

Raw Data Head:
   order_id customer_name product  quantity  unit_price  order_date region
0         1         Diana  Tablet       NaN       500.0  20/01/2024  South
1         2           Eve  Laptop       NaN         NaN  29/04/2024  North
2         3       Charlie  Laptop       2.0       250.0  08/01/2024    NaN
3         4           Eve  Laptop       2.0       750.0  07/01/2024   West
4         5           Eve  Tablet       3.0         NaN  07/03/2024  South

Raw Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       100 non-null    int64
 1   customer_name  99 non-null     object
 2   product        100 non-null    object
 3   quantity       74 non-null     float64
 4   unit_price     65 non-null     float64
 5   order_date     99 non-null     object
 6   region         75 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 5.6+ KB
None

Incremental Data Head:
   order_id customer_name product  quantity  unit_price  order_date   region
0       101         Alice  Laptop       NaN         900  09/05/2024  Central
1       102           NaN  Laptop       1.0         300  07/05/2024  Central
2       103           NaN  Laptop       1.0         600  04/05/2024  Central
3       104           NaN  Tablet       NaN         300  26/05/2024  Central
4       105         Heidi  Tablet       2.0         600  21/05/2024    North

Incremental Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       10 non-null     int64
 1   customer_name  4 non-null      object
 2   product        10 non-null     object
 3   quantity       6 non-null      float64
 4   unit_price     10 non-null     int64
 5   order_date     10 non-null     object
 6   region         8 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 692.0+ bytes
None